body {
    background-color: #000;
    color: #fff;
    font-family: monospace;
}

.menu {
    display: flex;
    flex-direction: row;
    background-color: #000;
}

.menu-item {
    padding: 10px 20px;
    border-right: 1px solid #fff;
    cursor: pointer;
}

.menu-item:last-child {
    border-right: none;
}

.menu-item:hover {
    background-color: #444;
}

a {
    color: white;
    text-decoration: none;
  }
.subpage {
    display: none;
}